# Step 1: Load & Inspect BookNLP Outputs

In [5]:
import pandas as pd

In [6]:
tokens = pd.read_csv('/kaggle/input/interactive-literarycharacters-ai/booknlp_output/a_study_in_scarlet.tokens', delimiter="\t", encoding='utf-8',quoting=3)
tokens.tail()

,paragraph_ID,sentence_ID,token_ID_within_sentence,token_ID_within_document,word,lemma,byte_onset,byte_offset,POS_tag,fine_POS_tag,dependency_relation,syntactic_head_ID,event
51968,0,2418,34,51968,in,in,242605,242607,ADP,IN,prep,51967,O
51969,0,2418,35,51969,arca,arca,242608,242612,PROPN,NNP,pobj,51968,O
51970,0,2418,36,51970,.,.,242612,242613,PUNCT,.,punct,51939,O
51971,0,2418,37,51971,’,',242613,242614,PUNCT,'',punct,51939,O
51972,0,2418,38,51972,”,"""",242614,242615,PUNCT,'',punct,51939,O

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
# Load files
quotes= pd.read_csv("/kaggle/input/interactive-literarycharacters-ai/booknlp_output/a_study_in_scarlet.quotes",encoding='utf-8',delimiter="\t")

In [10]:
quotes

,quote_start,quote_end,mention_start,mention_end,mention_phrase,char_id,quote
0,391,394,364.0,366.0,a medical board,220.0,"“ Orontes , ”"
1,735,746,747.0,747.0,he,104.0,"“ Whatever have you been doing with yourself ,..."
2,762,777,778.0,778.0,I,0.0,“ You are as thin as a lath and as brown as a ...
3,802,806,807.0,807.0,he,104.0,“ Poor devil ! ”
4,820,828,807.0,807.0,he,104.0,“ What are you up to now ? ”
...,...,...,...,...,...,...,...
843,51870,51871,51874.0,51874.0,I,0.0,” “
844,51882,51890,51874.0,51874.0,I,0.0,” cried Sherlock Holmes with a laugh . “
845,51908,51909,51874.0,51874.0,I,0.0,” “
846,51913,51917,51949.0,51951.0,the Roman miser,1065.0,"” I answered , “"
847,51953,51972,NaN,NaN,NaN,NaN,"“ ‘ Populus me sibilat , at mihi plaudo Ipse d..."

In [11]:
entities = pd.read_csv("/kaggle/input/interactive-literarycharacters-ai/booknlp_output/a_study_in_scarlet.entities",encoding='utf-8',delimiter="\t")

In [16]:
entities

      COREF  start_token  end_token  prop  cat                      text
0         0            4          4  PRON  PER                         I
1         0            6          6  PRON  PER                        my
2         1           13         16  PROP  FAC  the University of London
3         2           16         16  PROP  GPE                    London
4         3           21         21  PROP  GPE                    Netley
...     ...          ...        ...   ...  ...                       ...
7512   1046        51928      51929   NOM  PER                the public
7513   1064        51937      51937  PRON  PER                       you
7514   1064        51940      51940  PRON  PER                  yourself
7515   1065        51949      51951   NOM  PER           the Roman miser
7516   1065        51956      51956  PRON  PER                        me

[7517 rows x 6 columns]

In [17]:
import pandas as pd
events=pd.read_csv("/kaggle/input/interactive-literarycharacters-ai/book.events")
events

,event_word,event_lemma,sentence
0,took,take,In the year 1878 I took my degree of Doctor of...
1,studies,study,"Having completed my studies there , I was duly..."
2,attached,attach,"Having completed my studies there , I was duly..."
3,landing,landing,"On landing at Bombay , I learned that my corps..."
4,learned,learn,"On landing at Bombay , I learned that my corps..."
...,...,...,...
2706,apprehended,apprehend,"The man was apprehended , it appears , in the ..."
2707,tell,tell,It is expected that a testimonial of some sort...
2708,cried,cry,It is expected that a testimonial of some sort...
2709,laugh,laugh,It is expected that a testimonial of some sort...
2710,answered,answer,“ That ’s the result of all our Study in Scarl...

In [18]:
print("Tokens columns:", tokens.columns.tolist())
print("Quotes columns:", quotes.columns.tolist())
print("Entities columns:", entities.columns.tolist())
print("Events columns:", events.columns.tolist())

Tokens columns: ['paragraph_ID', 'sentence_ID', 'token_ID_within_sentence', 'token_ID_within_document', 'word', 'lemma', 'byte_onset', 'byte_offset', 'POS_tag', 'fine_POS_tag', 'dependency_relation', 'syntactic_head_ID', 'event']
Quotes columns: ['quote_start', 'quote_end', 'mention_start', 'mention_end', 'mention_phrase', 'char_id', 'quote']
Entities columns: ['COREF', 'start_token', 'end_token', 'prop', 'cat', 'text']
Events columns: ['event_word', 'event_lemma', 'sentence']

# character profiling

# personality building